---
title: Claim task - Process Portal
group: Take-on
version: 14.4.0
layout: take-on-1/views/_bpm_modal
---

{% block modalstep %}Check errors{% endblock %}

{% block modalinstance %}Error check: 4523{% endblock %}

{% block modallink %}/prototypes/take-on-1/v1/rsi-form-errors-1.html{% endblock %}
