---
title: Check needed - Process Portal - Work
group: Take-on
version: 14.4.0
layout: take-on-1/views/_bpm
---

{% block username %}
  Martin Glancy
{% endblock %}

{% block leftmenu %}
  <ul>
    <li><a href="#">Check errors</a></li>
    <li><a href="#">Start results</a></li>
  </ul>
{% endblock %}

{% block headertext %}
  Work
{% endblock %}

{% block taskcount %}
  8
{% endblock %}

{% block ontrack %}
  8
{% endblock %}

{% block page %}

  {% from "prototypes/take-on-1/components/bpm-portal-task/_macro.njk" import bpmPortalTask %}
  {{
      bpmPortalTask( "Check errors", "Error check", "Received", "Tresco Stores Ltd", " ", "Medium", "/prototypes/take-on-1/v1/bpm-modal.html", "odd" )
  }}
  {{
      bpmPortalTask( "Check errors", "Error check", "Received", "Liddl PLC", "Sarah Tream", "Medium", "#", "even" )
  }}
  {{
      bpmPortalTask( "Check errors", "Error check", "Received", "Tresco Stores Ltd", " ", "Medium", "/prototypes/take-on-1/v1/bpm-modal.html", "odd" )
  }}
  {{
      bpmPortalTask( "Check errors", "Error check", "Received", "Tresco Stores Ltd", " ", "Medium", "/prototypes/take-on-1/v1/bpm-modal.html", "even" )
  }}
  {{
      bpmPortalTask( "Check errors", "Error check", "Received", "Tresco Stores Ltd", " ", "Medium", "/prototypes/take-on-1/v1/bpm-modal.html", "odd" )
  }}
  {{
      bpmPortalTask( "Check errors", "Error check", "Received", "Tresco Stores Ltd", " ", "Medium", "/prototypes/take-on-1/v1/bpm-modal.html", "even" )
  }}
  {{
      bpmPortalTask( "Check errors", "Error check", "Received", "Tresco Stores Ltd", " ", "Medium", "/prototypes/take-on-1/v1/bpm-modal.html", "odd" )
  }}
  {{
      bpmPortalTask( "Check errors", "Error check", "Closed", "Tresco Stores Ltd", " ", "Low", "#", "even" )
  }}

{% endblock %}

<!-- STATUSES IN BPM

Actioned     Task is closed.
Closed       Task is closed.
Deleted      Task was deleted.
Forwarded    Task was forwarded.
New          Task was created by and assigned to the current user.
Received     Task was created by and assigned to some user or role.
Replied      Task was replied.
Sent         Task was sent.

  -->
