---
title: Check needed - Tresco Stores Ltd - survey 0023 - 202004
group: Take-on
version: 14.4.0
layout: take-on-1/views/_iframe_master
---

{% set pageWidthCols="8" %}

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% from "prototypes/take-on-1/components/data-tables/_macro.njk" import toTableRowList %}
{% from "prototypes/take-on-1/components/data-tables/_macro.njk" import toTableRowGrid %}


{% block headertext %}
  Step: Check errors
{% endblock %}


{% block main %}

{% from "prototypes/take-on-1/components/radio-pair/_macro.njk" import radioPair %}



{% from "components/panel/_macro.njk" import onsPanel %}
{{
    onsPanel({
        "type": "success",
        "id": "success-id",
        "body": "<p>The form has been updated. Its status is now clear - overridden.</p>",
        "classes": "u-mb-m"
    })
}}


    <h1>
    Tresco Stores Ltd
    </h1>

    {% set title = "Form details" %}
    {% set tCols = 3 %}
    {% set dCols = 12-tCols %}
    {% set mclass = "u-mt-no" %}

    {% set emailAddress = "b.smith@tresco-stores.co.uk" %}


<div class="grid">
  <div class="grid__col col-6@m">

    <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="{{title}}" aria-label="{{title}}">

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Reference:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">49900265143</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Survey:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">Retail Sales Index (RSI) 023</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Period:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">202003</dd>

    </dl>
  </div>
  <div class="grid__col col-6@m">

    <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="{{title}}" aria-label="{{title}}">

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Email:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}"><a href="mailto:{{ emailAddress }}?subject=Retail%20Sales%20Index%202020-03">{{ emailAddress }}</a></dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Skype call:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}"><a href="tel:+442920180243">029 2018 0243</a>
      </dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Contact preference:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">Fridays only after 1pm</dd>

    </dl>
  </div>
</div>



    <p class="u-bb u-pb-s"><span title="Status " class="status status--success">Clear - overridden</span></p>

    <form class="u-mt-m" id="overrideFormNoJSoverride" action="/prototypes/take-on-1/v1/bpm-portal.html">


          {{
              onsButton({
                  "text": "Return to work list",
                  "classes": "u-mb-l btn--small"
              })
          }}



<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q5002",
                "label": {
                    "text": "Q5002 Reference period start date"
                },
                "value": "2020-03-01",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q5001",
                "label": {
                    "text": "Q5001 Reference period end date"
                },
                "value": "2020-03-31",
                "classes": "input--w-10"
            })
        }}


<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "info"
        }) %}
        <fieldset>
          <legend class="u-vh">
              Q20 validations and overrides
          </legend>

        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}
        {{
            onsSingleCheckbox({
                "id": "Q20_override_1",
                "label": "Override 'total is not equal to the calculated total'",
                "spanclass": "u-mt-no u-mb-s",
                "checked": true
            })
        }}

        {{
            onsInput({
                "id": "Q20",
                "label": {
                    "text": "Q20 Total retail turnover"
                },
                "value": "310000",
                "classes": "input--w-10"
            })
        }}

        </fieldset>
        {% endcall %}


<!-- ###################################################################### -->

        {{
            onsInput({
                "id": "Q8000",
                "label": {
                    "text": "Q8000 Calculated total (Q21+Q22+Q23+Q24+Q25+Q26+Q27)"
                },
                "value": "301000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q21",
                "label": {
                    "text": "Q21 Food sales"
                },
                "value": "184000",
                "classes": "input--w-10"
            })
        }}


<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "info"
        }) %}
        <fieldset>
          <legend class="u-vh">
              Q22 validations and overrides
          </legend>

        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}
        {{
            onsSingleCheckbox({
                "id": "Q22_override_1",
                "label": "Override 'this has changed significantly sice the last submission'",
                "spanclass": "u-mt-no u-mb-s",
                "checked": true
            })
        }}

        {{
            onsInput({
                "id": "Q22",
                "classes": "input--w-10",
                "label": {
                    "text": "Q22 Alcohol, confectionery, tobacco"
                },
                "value": "54000"
            })
        }}

        </fieldset>
        {% endcall %}


<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q23",
                "label": {
                    "text": "Q23 Clothing and footwear"
                },
                "value": "13000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q24",
                "label": {
                    "text": "Q24 Household goods"
                },
                "value": "8000",
                "classes": "input--w-10"
            })
        }}


<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "info"
        }) %}
        <fieldset>
          <legend class="u-vh">
              Q25 validations and overrides
          </legend>


        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}
        {{
            onsSingleCheckbox({
                "id": "Q25_override_1",
                "label": "Override 'this has changed significantly sice the last submission'",
                "spanclass": "u-mt-no u-mb-s",
                "checked": true
            })
        }}

        {{
            onsInput({
                "id": "Q25",
                "label": {
                    "text": "Q25 Other sales"
                },
                "value": "8000",
                "classes": "input--w-10"
            })
        }}

        </fieldset>
        {% endcall %}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q27",
                "label": {
                    "text": "Q27 Automotive fuel"
                },
                "value": "8000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q26",
                "label": {
                    "text": "Q26 Internet sales"
                },
                "value": "67000",
                "classes": "input--w-10"
            })
        }}


<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "info"
        }) %}
        <fieldset>
          <legend class="u-vh">
              Q146a validations and overrides
          </legend>


        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}


        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}
        {{
            onsSingleCheckbox({
                "id": "Q146a_override_1",
                "label": "Override 'check this response'",
                "spanclass": "u-mt-no u-mb-s",
                "checked": true
            })
        }}


        {{
            onsInput({
                "id": "Q146a",
                "label": {
                    "text": "Q146a Did significant turnover changes occur?"
                },
                "value": "Yes",
                "classes": "input--w-10"
            })
        }}

        </fieldset>
        {% endcall %}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q146b",
                "label": {
                    "text": "Q146b Reason: in-store / online promotions"
                },
                "value": "Yes",
                "classes": "input--w-10"
            })
        }}


<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q146c",
                "label": {
                    "text": "Q146c Reason: special events"
                },
                "value": "Yes",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q146d",
                "label": {
                    "text": "Q146d Reason: calendar events"
                },
                "value": "No",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q146e",
                "label": {
                    "text": "Q146e Reason: weather"
                },
                "value": "Yes",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q146f",
                "label": {
                    "text": "Q146f Reason: store closures"
                },
                "value": "No",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q146g",
                "label": {
                    "text": "Q146f Reason: store openings"
                },
                "value": "No",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q146h",
                "label": {
                    "text": "Q146h Reason: other"
                },
                "value": "No",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->

{% from "components/textarea/_macro.njk" import onsTextarea %}
{{
    onsTextarea({
        "id": "Q146",
        "name": "feedback",
        "label": {
            "text": "Q146 Comment about reason for turnover changes"
        },
        "value": "We ran some special promotions and easter events. As a result we saw an increase in online sales. However there was a rainy third weekend which depressed later sales.",
        "classes": "input--w-50"
    })
}}

<!-- ###################################################################### -->


          {{
              onsButton({
                  "text": "Save edits and validate",
                  "classes": "u-mt-l btn--small btn--secondary"
              })
          }}

          <span class="u-dib u-ml-m u-mt-l">
            <a href="/prototypes/take-on-1/v1/bpm-portal.html">Cancel and return to work list</a>
          </span>


    </form>
{% endblock %}
