{% macro historyTable( question, value ) %}

{% from "prototypes/take-on-1/components/data-tables/_macro.njk" import toTableRowList %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{% set collapsibleHTML = '
  <table id="basic-table-1" class="table table--dense">
    <thead class="table__head">
      <tr class="table__row">
        <th scope="col" class="table__header to-u-period">Period</th>
        <th scope="col" class="table__header to-u-amount">Amount</th>
        <th scope="col" class="table__header to-u-cell-barchart">Percentage of valueimum</th>
      </tr>
    </thead>
    <tbody class="table__body">' +

        '<!--     ( period, amount, maximum, rowclass, current ) -->' +

        toTableRowList("202003", value, value, "current" ) +
        toTableRowList("202002", value*0.78, value ) +
        toTableRowList("202001", value*0.92, value, "to-u-row-year" ) +

        toTableRowList("201912", value*0.80, value ) +
        toTableRowList("201911", value*0.96, value ) +
        toTableRowList("201910", value*0.79, value ) +
        toTableRowList("201909", value*0.86, value ) +
        toTableRowList("201908", value*0.85, value ) +
        toTableRowList("201907", value*0.88, value ) +
        toTableRowList("201906", value*0.78, value ) +
        toTableRowList("201905", value*0.81, value ) +
        toTableRowList("201904", value*0.86, value ) +
        toTableRowList("201903", value*0.90, value ) +

      '</tbody>
  </table>
'%}


{{
    onsCollapsible({
        "id": "collapsible-1",
        "title": "Previous data for " + question,
        "titleTag": "h2",
        "content": collapsibleHTML,
        "button": {
            "close": "Hide this",
            "contextSuffix": "content"
        }
    })
}}


{% endmacro %}
