{% macro bpmPortalTask( subject, instance, status, priority, link, rowclass="odd" ) %}

<tr class="{{ rowclass }}">
  <td class="icon"><a href="{{ link }}"><img src="/prototypes/take-on-1/img/bg-task-icon.png"></a></td>
  <td class="subject"><a href="{{ link }}">Step: {{ subject }}</a><span class="order"> </span></td>
  <td class="instance"><a href="{{ link }}">{{ instance }}</a><span class="order"> </span></td>
  <td class="status">{{ status }}<span class="order"> </span></td>
  <td class="priority">{{ priority }}<span class="order"> </span></td>
</tr>

{% endmacro %}
