---
title: Check needed - Lawrence Group Ltd - survey 0066 - 201903
group: Take-on
version: 14.4.0
layout: take-on-1/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

    <h1>
    Lawrence Group Ltd
    </h1>

    {% set title = "Form details" %}
    {% set tCols = 2 %}
    {% set dCols = 12-tCols %}
    {% set mclass = "u-mt-no" %}

    <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="{{title}}" aria-label="{{title}}">

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Reference:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">49900265143</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Survey:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">Quarterly Survey of Building Materials Sand and Gravel (marine dredged) 0066</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Period:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">201903</dd>
    </dl>

    <p class="u-bb u-pb-s"><span title="Status " class="status status--success">Clear - overridden</span></p>

    <form class="u-mt-m" id="overrideForm">


<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q146",
                "label": {
                    "text": "Q146 Comment on the figures included in your return"
                },
                "value": "2",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q147",
                "label": {
                    "text": "Q147 New pits or quarries brought into use since date of last return"
                },
                "value": "2",
                "classes": "input--w-10"
            })
        }}


<!-- OVERRIDDEN ######ß##################################################### -->

        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "info"
        }) %}
        <fieldset>
          <legend class="u-vh">
              Q147 validations and overrides
          </legend>

        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}
        {{
            onsSingleCheckbox({
                "id": "Q147_override_3",
                "label": "Override 'value is larger than expected'",
                "spanclass": "u-mt-no u-mb-s",
                "checked": true
            })
        }}

        <p class="u-mb-no">

        </p>
        {{
            onsSingleCheckbox({
                "id": "Q147_override_4",
                "label": "Override 'this has changed significantly since the last submission'",
                "spanclass": "u-mt-no u-mb-s",
                "checked": true
            })
        }}

        {{
            onsInput({
                "id": "Q601",
                "classes": "input--w-10",
                "label": {
                    "text": "Q601 Sand produced for asphalt (asphalting sand)"
                },
                "value": "176100"
            })
        }}

        </fieldset>
        {% endcall %}


<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q602",
                "label": {
                    "text": "Q602 Sand produced for use in mortar (building or soft sand)"
                },
                "value": "123000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q603",
                "label": {
                    "text": "Q603 Sand produced for concreting (sharp sand)"
                },
                "value": "56000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q604",
                "label": {
                    "text": "Q604 Gravel coated with bituminous binder (on or off site)"
                },
                "value": "345000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q605",
                "label": {
                    "text": "Q605 Gravel produced for concrete aggregate (including sand/gravel mixes)"
                },
                "value": "345000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q606",
                "label": {
                    "text": "Q606 Other screened and graded gravels"
                },
                "value": "15000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q607",
                "label": {
                    "text": "Q607 Sand and gravel used for constructional fill"
                },
                "value": "12000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q608",
                "label": {
                    "text": "Q608 TOTALS"
                },
                "value": "1345000",
                "classes": "input--w-10"
            })
        }}

<!-- ###################################################################### -->
        {{
            onsInput({
                "id": "Q9001",
                "label": {
                    "text": "Q9001 Derived Total of all sand and gravel (Q601 + Q602 + Q603 + Q604 + Q605 + Q606 + Q607)"
                },
                "value": "1345000",
                "classes": "input--w-10"
            })
        }}



<!-- ###################################################################### -->

        {{
            onsButton({
                "text": "Save and validate",
                "classes": "u-mt-m"
            })
        }}

        <span class="u-dib u-ml-m u-mt-xl">
          <a href="/prototypes/take-on-1/v0/search-results.html">Cancel and return to search</a>
        </span>

    </form>
{% endblock %}
