---
title: Check needed - Lawrence Group Ltd - survey 0066 - 201903
group: Take-on
version: 14.4.0
layout: take-on-1/views/_master
---

{% set pageWidthCols="8" %}

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

    <h1>
    Lawrence Group Ltd
    </h1>

    {% set title = "Form details" %}
    {% set tCols = 2 %}
    {% set dCols = 12-tCols %}
    {% set mclass = "u-mt-no" %}

    <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="{{title}}" aria-label="{{title}}">

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Reference:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">49900265143</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Survey:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">Quarterly Survey of Building Materials Sand and Gravel (marine dredged) 0066</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Period:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">201903</dd>
    </dl>

    <span title="Status " class="status status--error u-bb u-pb-s u-db">Check needed</span>

    <form class="u-mt-m" id="overrideFormNoJSoverride" action="/prototypes/take-on-1/v0/form-with-validation-part.html">


<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "error"
        }) %}
        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}

        <p class="panel__error u-mb-no">
          <strong>Respondent entered a comment</strong>
        </p>
        {{
            onsSingleCheckbox({
                "id": "Q147_override_1",
                "label": "Override",
                "spanclass": "u-mt-no u-mb-s",
                "accessibleLabel": "Respondent entered a comment"
            })
        }}

        <p><strong>Q146 Comment on the figures included in your return</strong></p>

        <p>Comment is on the scan</p>

        {% endcall %}


<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "error"
        }) %}
        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}

        <p class="panel__error u-mb-no">
          <strong>This should not be blank</strong>
        </p>
        {{
            onsSingleCheckbox({
                "id": "Q147_override_1",
                "label": "Override",
                "spanclass": "u-mt-no u-mb-s",
                "accessibleLabel": "This should not be blank"
            })
        }}

        {{
            onsInput({
                "id": "Q601",
                "classes": "input--w-10",
                "label": {
                    "text": "Q601 Sand produced for asphalt (asphalting sand)"
                },
                "value": "176100"
            })
        }}
        {% endcall %}


<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "error"
        }) %}
        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}

        <p class="panel__error u-mb-no">
          <strong>Value is larger than expected</strong>
        </p>
        {{
            onsSingleCheckbox({
                "id": "Q147_override_1",
                "label": "Override",
                "spanclass": "u-mt-no u-mb-s",
                "accessibleLabel": "Value is larger than expected"
            })
        }}

        {{
            onsInput({
                "id": "Q601",
                "classes": "input--w-10",
                "label": {
                    "text": "Q602 Sand produced for use in mortar (building or soft sand)"
                },
                "value": "978100"
            })
        }}
        {% endcall %}


<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "error"
        }) %}
        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}

        <p class="panel__error u-mb-no">
          <strong>This has changed significantly since the last submission</strong>
        </p>
        {{
            onsSingleCheckbox({
                "id": "Q147_override_1",
                "label": "Override",
                "spanclass": "u-mt-no u-mb-s",
                "accessibleLabel": "This has changed significantly since the last submission"
            })
        }}

        {{
            onsInput({
                "id": "Q601",
                "classes": "input--w-10",
                "label": {
                    "text": "Q602 Sand produced for use in mortar (building or soft sand)"
                },
                "value": "978100"
            })
        }}
        {% endcall %}



<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "error"
        }) %}
        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}

        <p class="panel__error u-mb-no">
          <strong>This has changed by a significant percentage since the last submission</strong>
        </p>
        {{
            onsSingleCheckbox({
                "id": "Q147_override_1",
                "label": "Override",
                "spanclass": "u-mt-no u-mb-s",
                "accessibleLabel": "This has changed by a significant percentage since the last submission"
            })
        }}

        {{
            onsInput({
                "id": "Q601",
                "classes": "input--w-10",
                "label": {
                    "text": "Q602 Sand produced for use in mortar (building or soft sand)"
                },
                "value": "978100"
            })
        }}
        {% endcall %}



<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "error"
        }) %}
        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}

        <p class="panel__error u-mb-no">
          <strong>This is different to the previous submission. If this is 0 or blank, the previous was greater. If this has a value, the previous was 0 or blank.</strong>
        </p>
        {{
            onsSingleCheckbox({
                "id": "Q147_override_1",
                "label": "Override",
                "spanclass": "u-mt-no u-mb-s",
                "accessibleLabel": "This is different to the previous submission. If this is 0 or blank, the previous was greater. If this has a value, the previous was 0 or blank."
            })
        }}

        {{
            onsInput({
                "id": "Q601",
                "classes": "input--w-10",
                "label": {
                    "text": "Q602 Sand produced for use in mortar (building or soft sand)"
                },
                "value": "140000"
            })
        }}
        {% endcall %}



<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "error"
        }) %}
        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}

        <p class="panel__error u-mb-no">
          <strong>This is not equal to the calculated value</strong>
        </p>
        {{
            onsSingleCheckbox({
                "id": "Q147_override_1",
                "label": "Override",
                "spanclass": "u-mt-no u-mb-s",
                "accessibleLabel": "This is not equal to the calculated value"
            })
        }}

        {{
            onsInput({
                "id": "Q601",
                "classes": "input--w-10",
                "label": {
                    "text": "Q602 Sand produced for use in mortar (building or soft sand)"
                },
                "value": "140000"
            })
        }}
        {% endcall %}


<!-- VALIDATIONS ########################################################## -->
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "error"
        }) %}
        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}

        <p class="panel__error u-mb-no">
          <strong>Check the response to this question</strong>
        </p>
        {{
            onsSingleCheckbox({
                "id": "Q147_override_1",
                "label": "Override",
                "spanclass": "u-mt-no u-mb-s",
                "accessibleLabel": "Check the response to this question"
            })
        }}

        {{
            onsInput({
                "id": "Q601",
                "classes": "input--w-10",
                "label": {
                    "text": "Q602 Sand produced for use in mortar (building or soft sand)"
                },
                "value": "27"
            })
        }}
        {% endcall %}




<!-- ###################################################################### -->

        {{
            onsButton({
                "text": "Save and validate",
                "classes": "u-mt-l btn--small"
            })
        }}

        {{
            onsButton({
                "text": "Override",
                "classes": "u-mt-l btn--small"
            })
        }}


        <!--
          <span class="u-dib u-ml-m u-mt-xl">
          <a href="/prototypes/take-on-1/v0/search-results.html">Cancel and return to search</a>
        </span>
        -->

    </form>
{% endblock %}
