---
title: Check needed - Lawrence Group Ltd - survey 0066 - 201903
group: Take-on
version: 14.4.0
layout: take-on-1/views/_master
---

{% set pageWidthCols="8" %}

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

    <h1>
    Lawrence Group Ltd
    </h1>

    {% set title = "Form details" %}
    {% set tCols = 2 %}
    {% set dCols = 12-tCols %}
    {% set mclass = "u-mt-no" %}

    <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="{{title}}" aria-label="{{title}}">

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Reference:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">49900265143</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Survey:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">Quarterly Survey of Building Materials Sand and Gravel (marine dredged) 0066</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Period:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">201903</dd>
    </dl>



<span title="Status " class="status status--dead u-bb u-pb-s u-db">No form sent</span>
<span title="Status " class="status status--info u-bb u-pb-s u-db">Form sent out</span>
<span title="Status " class="status status--error u-bb u-pb-s u-db">Saved - run validation</span>
<span title="Status " class="status status--error u-bb u-pb-s u-db">Check needed</span>
<span title="Status " class="status status--success u-bb u-pb-s u-db">Clear</span>
<span title="Status " class="status status--success u-bb u-pb-s u-db">Clear - overridden</span>



{% endblock %}
