header.header {
  display: none;
}

#bpm_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #325c80;
  color: #ffffff;
  height: 60px;
}

#bpm_header_left {
}

#bpm_header_centre {
  height: 60px;
  background-image: url('/prototypes/take-on-1/img/bg-header-centre-icon.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  h1 {
    font-size: 28px;
    padding-top: 0px;
    font-weight: 700;
    line-height: 1.9;
    margin: 0 0 0 0;
  }
}

#bpm_header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  #bpm_task_count {
    font-size: 2em;
  }
  #bpm_task_total {
    font-size: 0.9em;
    padding: 0 20px 0 10px;
  }
  #bpm_task_summary {
    border-left: 1px solid #ffffff;
    padding: 0 20px;
    line-height: 1;
  }
}
