---
title: Check needed - Tresco Stores Ltd - survey 0023 - 202004
group: Take-on
version: 14.4.0
layout: take-on-1/views/_iframe_master
---

{% set pageWidthCols="8" %}

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/textarea/_macro.njk" import onsTextarea %}

{% from "prototypes/take-on-1/components/data-tables/_macro.njk" import toTableRowList %}
{% from "prototypes/take-on-1/components/data-tables/_macro.njk" import toTableRowGrid %}
{% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}
{% from "prototypes/take-on-1/components/radio-pair/_macro.njk" import radioPair %}
{% from "prototypes/take-on-1/components/history-table/_macro.njk" import historyTable %}

{% block headertext %}
  Step: Check errors
{% endblock %}


{% block main %}


    <h1 class="companyName">
    Tresco Stores Ltd: errors
    </h1>

    {% set title = "Form details" %}
    {% set tCols = 4 %}
    {% set dCols = 12-tCols %}
    {% set mclass = "u-mt-no" %}

    {% set emailAddress = "b.smith@gmail.com" %}


<div class="grid">
  <div class="grid__col col-6@m">

    <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="{{title}}" aria-label="{{title}}">

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Reference:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">49900265143</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Survey:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">Retail Sales Index (RSI) 023</dd>

      <dt class="metadata__term grid__col col-{{tCols}}@m {{mclass}}">Period:</dt>
      <dd class="metadata__value grid__col col-{{dCols}}@m {{mclass}}">202003</dd>

    </dl>
  </div>

</div>

<p class="u-bb u-pb-s"><span title="Status " class="status status--error">Check needed</span></p>

{% from "prototypes/take-on-1/data/rsi-short-json.dta" import questions %}

{% for q in questions %}

    {% if q.Error != "" %}
      <div class="panel panel--error panel--simple">
        <div class="panel__body">
          <fieldset>
            <legend class="u-vh">
                {{ q.Question }} validations and overrides
            </legend>

          <p class="panel__error u-mb-no">
            <strong>{{ q.Error }}</strong>
          </p>
          {{
              onsSingleCheckbox({
                  "id": q.Question + "_override_1",
                  "label": "Override",
                  "spanclass": "u-mt-no u-mb-s",
                  "accessibleLabel": q.Error,
                  "reason": "yes"
              })
          }}
    {% endif %}

    {% set classes = "input--w-50" if q.Type == "Textarea" else "input--w-10" %}

    {% set questionParams =
        {
            "id": q.Question,
            "name": q.Question,
            "label": {
                "text": q.Question + " " + q.Label
            },
            "value": q.Value,
            "classes": classes
        }
     %}

    {{
      onsTextarea( questionParams ) if q.Type == "Textarea" else onsInput( questionParams )
    }}

    {% if q.History == "Yes" %}
      {{ historyTable( q.Question, q.Value ) }}
    {% endif %}

    {% if q.Error != "" %}
          </fieldset>
        </div>
      </div>
    {% endif %}

{% else %}
  <p>No questions</p>
{% endfor %}


<hr>

<!-- ###################################################################### -->



<form class="u-dib" id="overrideFormNoJSoverride" action="/prototypes/take-on-1/v1/rsi-form-errors-1-q20-edit.html">
          {{
              onsButton({
                  "text": "Save edits and validate",
                  "classes": "btn--small u-mr-m"
              })
          }}

    </form>
<form class="u-dib" id="overrideFormNoJSoverride" action="/prototypes/take-on-1/v1/rsi-form-errors-1-override.html">
          {{
              onsButton({
                  "text": "Save overrides",
                  "classes": "btn--small"
              })
          }}

    </form>
          <span class="u-dib u-ml-m u-mt-l">
            <a href="/prototypes/take-on-1/v1/bpm-portal.html">Cancel and return to work list</a>
          </span>


{% endblock %}
