---
title: Check needed - Tresco Stores Ltd - survey 0023 - 202004
group: Take-on
version: 14.4.0
layout: take-on-1/views/_master
---


{% set pageWidthCols="12" %}

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/textarea/_macro.njk" import onsTextarea %}

{% from "prototypes/take-on-1/components/data-tables/_macro.njk" import toTableRowList %}
{% from "prototypes/take-on-1/components/data-tables/_macro.njk" import toTableRowGrid %}
{% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}
{% from "prototypes/take-on-1/components/radio-pair/_macro.njk" import radioPair %}
{% from "prototypes/take-on-1/components/history-table/_macro.njk" import historyTable %}




{% block main %}

    <h1 class="companyName">
    Proper Shop Limited
    {{ request.url }}


    </h1>



    <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="Form details" aria-label="Form details">
                    <dt class="metadata__term grid__col col-2@m u-mt-no">Reference:</dt>
                    <dd class="metadata__value grid__col col-10@m u-mt-no">49900265143</dd>
                    <dt class="metadata__term grid__col col-2@m u-mt-no">Survey:</dt>
                    <dd class="metadata__value grid__col col-10@m u-mt-no">Retail Sales Index (RSI) 023</dd>
                    <dt class="metadata__term grid__col col-2@m u-mt-no">Period:</dt>
                    <dd class="metadata__value grid__col col-10@m u-mt-no">202006</dd>
                    <dt class="metadata__term grid__col col-2@m u-mt-no">Form status:</dt>
                    <dd class="metadata__value grid__col col-10@m u-mt-no"><span title="Status " class="status status--error">Check needed</span></dd>
  </dl>


{% from "prototypes/take-on-1/data/rsi-questions-json.dta" import questions %}
{% set showAdjustedCol = true %}

<section role="region" class="tabs">
  <h2 class="tabs__title">Tabs</h2>
  <ul class="tabs__list">
    <li id="tabId1Item" class="tab__list-item"><a href="#tabId1" class="tab" data=ga="click" data-ga-category="tabs" data-ga-action="Show: All data" data-ga-label="Show: All data">All data</a></li>
    <li id="tabId2Item" class="tab__list-item"><a href="#tabId2" class="tab" data=ga="click" data-ga-category="tabs" data-ga-action="Show: Validations" data-ga-label="Show: Validations">Validations</a></li>
  </ul>

  <section id="tabId1" class="tabs__panel">
    <h3>All data</h3>
    <table id="basic-table" class="table ">
      <thead class="table__head">
        <tr class="table__row">
          <th scope="col" class="table__header ">Number</th>
          <th scope="col" class="table__header ">Question</th>
          <th scope="col" class="table__header to-action-th table__header--numeric">Response</th>
          {% if showAdjustedCol %}<th scope="col" class="table__header table__header--numeric">Adjusted</th>{% endif %}
          <th scope="col" class="table__header ">Question status</th>
          <th scope="col" class="table__header ">Action</th>
        </tr>
      </thead>
      <tbody class="table__body">

        {% for q in questions %}
          {% include "prototypes/take-on-1/v3/inc/form-table-row.inc" %}
        {% endfor %}

      </tbody>
    </table>
  </section>

  <section id="tabId2" class="tabs__panel">
    <h3>Validations</h3>
    <table id="basic-table" class="table ">
      <thead class="table__head">
        <tr class="table__row">
          <th scope="col" class="table__header ">Number</th>
          <th scope="col" class="table__header ">Question</th>
          <th scope="col" class="table__header to-action-th table__header--numeric">Response</th>
          {% if showAdjustedCol %}<th scope="col" class="table__header table__header--numeric">Adjusted</th>{% endif %}
          <th scope="col" class="table__header ">Question status</th>
          <th scope="col" class="table__header ">Action</th>
        </tr>
      </thead>
      <tbody class="table__body">

        {% for q in questions %}
          {% if q.Status!="" %}
            {% include "prototypes/take-on-1/v3/inc/form-table-row.inc" %}
          {% endif %}
        {% endfor %}

      </tbody>
    </table>
  </section>

</section>
















{% endblock %}
