{% extends "page-templates/_template.njk" %}

{% block head %}
    <link rel="stylesheet" href="{{ pageInfo.rootPath }}/styles/styles.css" />

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

{% endblock %}

{% set pageConfig = {
    "cdn": "14.4.0",
    "title": "Take-on prototype",
    "header": {
        "title": "Check business survey forms",
        "classes": "header--internal header--thin",
        "logo": "ons-logo-white",
        "logoAlt": "ONS",
        "logoHref": "/prototypes/take-on-1"
    },
    "phase": {
      "badge": "BETA",
      "html": 'This is a work in progress'
    },
    "footer": {
        "OGLLink": false,
        "poweredBy": true
    }
} %}

{% block bodyEnd %}
    <script src="{{ pageInfo.rootPath }}/scripts/index.js"></script>
{% endblock %}
