---
title: Survey 0066 Lawrence Group Ltd 201903
group: Take-on
version: 14.2.1
layout: take-on-1/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

    <h1>
      <span class="u-db" title="Business ">Lawrence Group Ltd </span>
      <span class="u-fs-m u-db">Ref 49900265143 </span>
      <span class="u-fs-m u-fw-n">Survey 0066 </span> <span class="u-fs-m u-fw-n">Period 201903</span>
    </h1>

    <span title="Status " class="status status--error u-db">Check needed</span>

    <hr class="u-mt-s">

    <form class="u-mt-m">

        {{
            onsInput({
                "id": "Q601",
                "label": {
                    "text": "Q601 Sand produced for asphalt (asphalting sand)",
                    "value": "240000"
                }
            })
        }}


        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel({
                "type": "error"
        }) %}
        <p class="panel__error">
          <strong>Check this</strong>
        </p>
        {{
            onsInput({
                "id": "Q146",
                "type": "number",
                "classes": "input--w-30",
                "attributes": {
                    "required": true
                },
                "label": {
                    "text": "Q146 Comment on the figures included in your return"
                },
                "value": "It was too wet to quarry so the weights are lower"
            })
        }}
        {% from "prototypes/take-on-1/components/single-checkbox/_macro.njk" import onsSingleCheckbox %}
        {{
            onsSingleCheckbox({
                "id": "Q147_override",
                "label": "Override this check"
            })
        }}
        {% endcall %}


        {{
            onsInput({
                "id": "Q147",
                "label": {
                    "text": "Q147 New pits or quarries brought into use since date of last return",
                    "value": "6"
                }
            })
        }}

        <br>
        {{
            onsButton({
                "text": 'Validate'
            })
        }}

    </form>
{% endblock %}
