---
title: Take-on
group: Take-on
version: 14.2.1
layout: take-on-1/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}

<h1>
Take on prototypes and design tests
</h1>

{% from "components/lists/_macro.njk" import onsList %}
{{
    onsList({
        "classes": 'list--bare',
        "itemsList": [
            {
                "url": '/prototypes/take-on-1/form-head-status-text.html',
                "text": 'Form head status text samples'
            },
            {
                "url": '/prototypes/take-on-1/form-head-opt1.html',
                "text": 'Form head option 1 - H1'
            },
            {
                "url": '/prototypes/take-on-1/form-head-opt1a.html',
                "text": 'Form head option 1a - H1 order change'
            },
            {
                "url": '/prototypes/take-on-1/form-head-opt2.html',
                "text": 'Form head option 2 - metadata DL'
            },
            {
                "url": '/prototypes/take-on-1/form-head-opt3.html',
                "text": 'Form head option 3 - metadata DL - reverse font weight'
            },
            {
                "url": '/prototypes/take-on-1/search-choice.html',
                "text": 'Search choice'
            }
        ]
    })
}}


{% endblock %}
