{% macro errorRow( number, question, response, error, action ) %}
  <tr class="table__row {{}}">
    <td class="table__cell">
      {{ number }}
    </td>
    <td class="table__cell ">
      {{ question }}
    </td>
    <td class="table__cell table__cell--numeric u-fw-b">
      {{ response }}
    </td>
    <td class="table__cell ">
      {{ error }}
    </td>
    <td class="table__cell ">
      {{ action }}
    </td>
  </tr>
{% endmacro %}
